.BurgerMenu {
  position: absolute;
  top: 50px;
  right: 20px;

  visibility: hidden;
  opacity: 0;

  transition: 0.2s;
  z-index: 3;
  &.active {
    visibility: visible;
    opacity: 1;
  }
  .content {
    padding: 15px;
    background: rgb(239, 234, 234);
    border-radius: 15px 0 15px 15px;
    width: 150px;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    .nav {
      ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
        li {
          .link {
            display: flex;
            align-items: center;
            gap: 5px;
            color: rgb(36, 78, 99);
            &.active {
              color: red;
            }
          }
        }
      }
    }
    .resume {
      button {
        padding: 5px 0;
        color: rgb(36, 78, 99);
        border-bottom: 2px solid rgb(36, 78, 99);
        display: flex;
        align-items: center;
        gap: 2px;
        transition: 0.5s;
        &:hover {
          background: black;
          color: white;
          box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.75);
          -webkit-box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.75);
        }
      }
    }
  }
}
