@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.Header {
  position: sticky;
  top: 0;
  padding: 5px 0;
  background: white;
  box-shadow: 0px 9px 25px -15px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 9px 25px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 9px 25px -15px rgba(0, 0, 0, 0.75);
  .content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {
      .logo {
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 70px;
            height: auto;
          }
          h1 {
            font-size: 20px;
            margin-top: 8px;
            margin-left: -9px;
            color: rgb(36, 78, 99);
            font-family: "Playfair Display", serif;
          }
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      gap: 55px;
      .nav {
        ul {
          display: flex;
          align-items: center;
          gap: 25px;
          li {
            a {
              display: flex;
              align-items: center;
              gap: 5px;
              color: rgb(36, 78, 99);

              transition: 0.2s;
              font-family: "Playfair Display";
              font-weight: 700;
              letter-spacing: 1px;
              &:hover {
                color: black;
                text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
              }
            }
          }
        }
      }
      .resume {
        button {
          padding: 5px 15px;
          border-bottom: 2px solid black;
          border-radius: 10px;
          color: rgb(36, 78, 99);
          display: flex;
          align-items: center;
          gap: 2px;
          transition: 0.5s;
          &:hover {
            background: black;
            color: white;
            box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.75);
          }
        }
      }
    }
  }
}
