* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color-scheme: white;
}

.container {
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 20px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif, "Playfair Display";
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  @media (max-width: 500px) {
    cursor: default;
  }
}
